/* .root {
  --firstColor: #FFF2CC;
  --secondColor: ;
  --thirdColor: ;
} */

/* ALL PAGES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF2CC;
  font-family: monospace;
}

header li,
footer h4,
.copyright,
thead,
tfoot,
h3 {
  font-family: sans;
  letter-spacing: 2px;
}

span.active {
  font-weight: bold;
}

/* NAVBAR - ALL PAGES */
header>nav {
  background-color: #F4B183;
}
header nav .nav-profile-img{
  width: 40px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FFF2CC;
}
nav ul li {
  text-transform: uppercase;
}

nav ul li.active-list {
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease-in-out;
}

.dropdown-menu {
  background-color: #FFF2CC;
}

.dropdown-menu a.active {
  background-color: #DF7857;
}
header .banner {
  position: relative;
}
header .banner-img {
  width: 100%;
  height: 500px;
}
header .img-text .arrow-right {
  height: auto;
  width: 23px;
}
header .img-text .arrow-right:hover {
  width: 30px;
}
header .img-text {
  width: 30%;
  height: fit-content;
  min-height: 50px;
  background-color: #FFF2CC;
  border: 1px solid #DF7857;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 60px;
}

header .banner-text-container {
  width: 80%;
  height: fit-content;
  min-height: 100px;
  background-color: #FFF2CC;
  border-radius: 5px;
  position: absolute;
  top: 260px;
  left: 10%;
}
header .banner-text-container p {
  width: 80%;
  margin: 0 auto;
  font-style: italic;
  font-size: 2.5rem;
}
header .banner-text-container p::before {
  content: '" ';
}
header .banner-text-container p::after {
  content: ' "';
}
/* Note: a:hover MUST come after a:link and a:visited in the CSS definition in order to be effective! a:active MUST come after a:hover in the CSS definition in order to be effective! Pseudo-class names are not case-sensitive. */

/* unvisited link */
ul li a:link {
  color: #181818;
}

/* visited link */
ul li a:visited {
  color: #181818;
}

/* mouse over link */
ul li a:hover {
  color: #DF7857;
  font-weight: bold;
}

ul .order-item {
  position: relative;
}

ul li .top {
  width: 20px;
  height: 20px;
  background-color: #FFF2CC;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 10;
  opacity: 0.9;
  border-radius: 50%;
}

/* INDEX / HOME */

/* GALLERY */
#gallery-page .gallery-all-container .card-title {
  /* font-size: 16px; */
  font-weight: bold;
  z-index: 10;
}

#gallery-page .card {
  border: 1px solid #DF7857;
  box-shadow: 2px 2px 3px 2px #DF7857;
  z-index: 5;
}

#gallery-page .card-img-top {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #DF7857;
}

#gallery-page button {
  background-color: #DF7857;
}

#gallery-page button:hover {
  background-color: #FFF2CC;
  border: 1px solid #DF7857;
  font-weight: bold;
}

#gallery-page button>img {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

/* 
#gallery-page #promo-container {
  position: relative;
} */
#gallery-page #promo-container .card {
  position: relative;
}

#gallery-page #promo-container .promo-text-wrapper {
  width: 200px;
  height: 40px;
  background-color: #FFD966;
  border-left: 2px solid #DF7857;
  border-bottom: 2px solid #DF7857;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
}

#gallery-page hr.header-hr {
  height: 3px;
  background-color: #FFF2CC;
  outline: 1px solid #DF7857;
  margin-top: -10px;
}

/* ORDER */

#order-page section,
h3 {
  border-radius: 10px;
}

#order-page tr:nth-child(even) {
  background: #F4B183;
}
#order-page tr:nth-child(odd) {
  background: transparent;
}

#order-page section hr {
  border: 2px solid #DF7857;
}

#order-page thead,
tfoot {
  background-color: #DF7857;
}

#order-page td img.icon {
  height: auto;
  width: 15px;
}
#order-page td img.icon:hover {
  cursor: pointer;
}

#order-page img#back-icon,
img#clear-icon,
img#checkout-icon {
  height: auto;
  width: 15px;
}

#order-page img#checkout-icon {
  height: auto;
  width: 30px;
}

#order-page table .order-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #DF7857;
}

#order-page form {
  background-color: #F4B183;
  border-radius: 10px;
}

#order-page form label {
  font-weight: bold;
}

#order-page #back-to-shop {
  background-color: #F4B183;
}

#order-page #back-to-shop:hover {
  background-color: transparent;
  border: 1px solid #F4B183;
}

#order-page #btn-clear {
  border: 1px solid #F4B183;
}

#order-page #btn-clear:hover {
  background-color: #F4B183;
}

#order-page #btn-checkout {
  background-color: #DF7857;
  text-transform: uppercase;
}

#order-page #btn-checkout:hover {
  border: 1px solid #F4B183;
  font-weight: bold;
}

#order-page #submit-order {
  background-color: #DF7857;
  text-transform: uppercase;
}

#order-page #submit-order:hover {
  border: 1px solid #F4B183;
  font-weight: bold;
}

#order-page #liveAlertPlaceholder {
  background-color: #FFF2CC;
}

/* FEEDBACK */
/* .chat-wrapper {
position: relative;
}  */
#feedback-page .chat-container {
  /* background-color: #F4B183; */
  border-radius: 10px;
  border: 2px solid #F4B183;
  position: relative;
  left: 10%;
  height: 1000px;
  width: 70%;
}

#feedback-page .message-icon {
  width: 300px;
  height: auto;
  z-index: 5;
}

#feedback-page .profile-img {
  width: 100px;
  height: auto;
  border: 1px solid #DF7857;
  border-radius: 50%;
}

#feedback-page #message-icon1 {
  transform: rotateY(180deg);
  position: absolute;
  left: 50px;
}

#feedback-page #message-icon2 {
  position: absolute;
  top: 200px;
  right: 50px;
}

#feedback-page #message-icon3 {
  transform: rotateY(180deg);
  position: absolute;
  top: 400px;
  left: 50px;
}

#feedback-page #message-icon4 {
  position: absolute;
  top: 600px;
  right: 50px;
}

#feedback-page #profile-img1 {
  position: absolute;
  top: 270px;
  left: 15px;
}

#feedback-page #profile-img2 {
  position: absolute;
  top: 480px;
  right: 15px;
}

#feedback-page #profile-img3 {
  position: absolute;
  top: 680px;
  left: 15px;
}

#feedback-page #profile-img4 {
  position: absolute;
  top: 890px;
  right: 15px;
}

#feedback-page .box {
  height: 175px;
  width: 250px;
  background-color: #F4B183;
  border-radius: 15px;
  z-index: 1;
}

#feedback-page .box-1 {
  position: absolute;
  left: 75px;
  top: 37px;
}

#feedback-page .box-2 {
  position: absolute;
  right: 75px;
  top: 237px;
}

#feedback-page .box-3 {
  position: absolute;
  top: 438px;
  left: 75px;
}

#feedback-page .box-4 {
  position: absolute;
  right: 75px;
  top: 638px;
}

#feedback-page .message-chat {
  color: #181818;
}

#feedback-page textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}

button[value="submit"] {
  display: block;
  background-color: #DF7857;
  width: 100%;
  text-transform: uppercase;
  margin-top: 5px;
}

button[value="submit"]:hover {
  outline: 2px solid #DF7857;
  font-weight: bold;
}


/* FOOTER */
footer {
  background-color: #F4B183;
}

footer img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
footer img:hover {
  border: 2px solid #FFF2CC;
  
}
footer .cell-no:hover {
  border: 2px solid #FFF2CC;
}
footer p {
  font-size: 12px;
}


/* MEDIA QUERY - NAVBAR */
@media (max-width: 767px){
  ul li .top {
    top: 0px;
    left: 60px;
  }
}
@media (max-width: 637px) {
  header .banner-text-container p {
    font-size: 1.7rem;
  }
  header .img-text p {
    font-size: 1.2rem;
  }
}
/* MEDIA QUERY - GALLERY */
@media (max-width: 1115px) and (min-width: 768px) {
  #gallery-page button>img {
    width: 30px;
    height: 30px;
  
  }
  .gallery-all-container .card h5.card-title, .btn {
    font-size: 12px;
    letter-spacing: 0;
}
}

/* MEDIA QUERY - FEEDBACK */
@media (max-width: 670px) {
  #feedback-page .message-icon {
    width: 200px;
    height: auto;
  }
  #feedback-page .box {
    height: 100px;
    width: 150px;
    background-color: #F4B183;
    border-radius: 15px;
    z-index: 1;
  }
  #feedback-page .message-chat {
    font-size: 12px!important;
    margin: 5px 5px!important;
  }
  
#feedback-page #profile-img1 {
  top: 200px;
}

#feedback-page #profile-img2 {
  top: 390px;
}

#feedback-page #profile-img3 {
  top: 580px;
}

#feedback-page #profile-img4 {
  position: absolute;
  top: 790px;
  right: 15px;
}
#feedback-page .chat-container {
  left: 8%;
}
  
} 

@media (max-width: 525px) {
  #feedback-page .message-icon {
    width: 195px;
    height: auto;
  }
  
#feedback-page .profile-img {
  width: 50px;
  height: auto;
}
  #feedback-page .box {
    height: 100px;
    width: 150px;
  }
  #feedback-page .message-chat {
    font-size: 12px!important;
    margin: 7px 5px!important;
  }
  
#feedback-page #profile-img1 {
  top: 200px;
}

#feedback-page #profile-img2 {
  top: 390px;
}

#feedback-page #profile-img3 {
  top: 580px;
}

#feedback-page #profile-img4 {
  position: absolute;
  top: 790px;
  right: 15px;
}
#feedback-page .chat-container {
  left: 4%;
}
  
} 
@media (min-width: 1116px){
  #gallery-page .for-text-transform{
    font-size: 17px;
  }
}